.flex-container { /* display: flex; */}
.flex-container1{}
    .flex-containerC1{}
        .flex-containerC1G1{}
        .flex-containerC1G2{}
.flex-container2{}
    .flex-containerC2{}
        .flex-containerC2G1{}
        .flex-containerC2G2{}
.flex-container3{}
    .flex-containerC3{}
        .flex-containerC3G1{}
        .flex-containerC3G2{}


.flex-container1 div {
  background: #1F2937;
  color:#f9faf8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
 
.flex-containerC1G2 ul li{    /* header 1/2/3*/
    list-style: none;
    display: inline;
    margin:0 20px;
}

.flex-containerC1G2 ul li a {
    /* header 1/2/3*/
    text-decoration: none;
    color:white;
    }



.flex-container2 div {    
    background: #1F2937;
  color:#f9faf8;
  display: flex;
  align-items: center;
  justify-content: space-between;
   
}

.flex-containerC2G1 div {
    /* This website is awesome */
    display:column;
    align-items: center;
    justify-content: stretch;
    }


.flex-container3 div{
    background-color: #E5E7Eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


div p {
    font-size: small;
}


/*element selector example*/
h1{
    color: #f9faf8;
    font-size: 48px
}

.btn{
    padding:10px; color:white;
}
.btn-1 {
    background-color: blue;
}

